@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply to all scrollable elements */
* {
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


#parent{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#child{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

body {
  background: #F3F4F6;
}

.container {
  height: 100vh;
}

.test {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.worker-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



@media screen and  (min-width: 1024px){
  .filter-container {
    top: 11.6%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

@media screen and (max-width: 1024px){
  .filter-container {
    top: 7.6%;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
  }
}